<% @page_title = "管理ページトップ" %>
<p class="display-6"><%= @page_title %></p>
<ul>
    <li><%= link_to "会員管理", :admin_accounts, class: "btn btn-primary m-2" %></li>
    <li><%= link_to "記事管理", :admin_articles, class: "btn btn-primary m-2" %></li>
</ul>